.banner {
    position: static;
    width: 100%;
    margin-top: -20px;
}

h1 {
    font-family: 'Luckiest Guy',
        cursive;
    font-size: 40px;
    text-align: center;
}

body {
    font-family: 'Fredoka One',
        cursive;
    width: 100%;
    opacity: 10%;
}

#background {
    position: absolute;
    filter: brightness(130%);
    z-index: -1;
    margin-top: -180px;
}


/* Fonts!
font-family: 'Coiny',
cursive;
font-family: 'Luckiest Guy',
cursive;
font-family: 'Fredoka One',
cursive; */