#banner {
    position: static;
    width: 100%;
    margin-top: -15px;
    top: 0;
    left: 0;
    right: 0;


}

h1 {
    font-family: 'Luckiest Guy',
        cursive;
    font-size: 40px;
    text-align: center;
}

body {
    font-family: 'Fredoka One',
        cursive;
    width: 100%;
    opacity: 20%;
}

#background {
    position: absolute;
    filter: brightness(130%);
    z-index: -1;
    width: 100%;
}

input {}


/* Fonts!
font-family: 'Coiny',
cursive;
font-family: 'Luckiest Guy',
cursive;
font-family: 'Fredoka One',
cursive; */